#rotate {
	-webkit-transform: rotateY(130deg); /* Safari */
    transform: rotateY(130deg);
}
#skew {
	-webkit-transform: rotateY(130deg); /* Safari */
    transform: skewY(130deg);
}
#all {
	-webkit-transform: rotateY(130deg); /* Safari */
	transform: rotateY(130deg);
	transform: skewY(130deg);
}

#animate {
	animation-name: mymove;
	animation-duration: 10s;
	background-color: red;
}
@keyframes mymove {
/*    from {font-size: 5px;}
    to {font-size: 200px;}*/
    0% {background-color: red;}
    10% {background-color: orange;}
    20% {background-color: yellow;}
    30% {background-color: lime;}
    40% {background-color: aqua;}
    50% {background-color: blue;}
    60% {background-color: darkviolet;}
    67% {background-color: blue;}
    72% {background-color: aqua;}
    77% {background-color: lime;}
    82% {background-color: yellow;}
    87% {background-color: orange;}
    100% {background-color: red;}
}